/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/01e70bea-82c8-495c-b3ab-8aa6c5688b9a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/20d02bd8-caf1-46fb-b9a5-d4c122348574.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/27554672-8f67-48c8-84c1-eb0eff210c38.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/41b2de37-234f-4499-a250-9d64ff942796.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/4e012b68-b177-4bc4-9f41-27986a90bba2.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9ae9bee2-062f-45a7-a341-2207632d3d7b.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a03ead94-f4e7-47cc-96b8-a0d0384f0ffa.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/cbb3b586-38b8-471a-96f4-577f0415c198.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/dec5c21a-59cf-4435-a8eb-671d50a98f48.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/e527060a-fee6-452c-86dc-3568562a5033.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.deps.json
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.pdb
/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/01e70bea-82c8-495c-b3ab-8aa6c5688b9a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9ae9bee2-062f-45a7-a341-2207632d3d7b.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a03ead94-f4e7-47cc-96b8-a0d0384f0ffa.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/dec5c21a-59cf-4435-a8eb-671d50a98f48.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.assets.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.CoreCompileInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.FileListAbsolute.txt
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.pdb
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.sourcelink.json
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/ref/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/refint/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
