/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/01e70bea-82c8-495c-b3ab-8aa6c5688b9a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/20d02bd8-caf1-46fb-b9a5-d4c122348574.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/27554672-8f67-48c8-84c1-eb0eff210c38.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/41b2de37-234f-4499-a250-9d64ff942796.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/4e012b68-b177-4bc4-9f41-27986a90bba2.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9ae9bee2-062f-45a7-a341-2207632d3d7b.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a03ead94-f4e7-47cc-96b8-a0d0384f0ffa.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/cbb3b586-38b8-471a-96f4-577f0415c198.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/dec5c21a-59cf-4435-a8eb-671d50a98f48.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/e527060a-fee6-452c-86dc-3568562a5033.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.deps.json
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.pdb
/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/01e70bea-82c8-495c-b3ab-8aa6c5688b9a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9ae9bee2-062f-45a7-a341-2207632d3d7b.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a03ead94-f4e7-47cc-96b8-a0d0384f0ffa.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/dec5c21a-59cf-4435-a8eb-671d50a98f48.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.assets.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.CoreCompileInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.FileListAbsolute.txt
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.pdb
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.sourcelink.json
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/ref/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/refint/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
/Orders.Solution/.vs/Orders.Solution/config/applicationhost.config
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/73500a5d-d9e3-4137-9106-91a5574ea874.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/8b4c2644-a293-4679-84ef-efef16824d9a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/daf79ae1-9d3c-49e0-831a-ddd6aef6946f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/df34ad5f-4146-43f6-8291-0e237e26722f.vsidx
/Orders.Solution/.vs/Orders.Solution/v16/.suo
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/appsettings.Development.json
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/appsettings.json
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Azure.Core.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Azure.Identity.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Humanizer.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Mono.TextTemplating.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.API.deps.json
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.API.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.API.exe
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.API.pdb
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.API.runtimeconfig.json
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.Core.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Orders.Solution.Core.pdb
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.CodeDom.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Composition.Convention.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Composition.Hosting.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Composition.Runtime.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Drawing.Common.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Memory.Data.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Runtime.Caching.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Security.Permissions.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/System.Windows.Extensions.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/Orders.Solution/Orders.Solution.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/apphost.exe
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.assets.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.csproj.AssemblyReference.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.csproj.BuildWithSkipAnalyzers
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.csproj.CopyComplete
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.csproj.CoreCompileInputs.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.csproj.FileListAbsolute.txt
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.dll
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.genruntimeconfig.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.GlobalUsings.g.cs
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.MvcApplicationPartsAssemblyInfo.cache
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.MvcApplicationPartsAssemblyInfo.cs
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.pdb
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/Orders.Solution.API.sourcelink.json
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/ref/Orders.Solution.API.dll
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/refint/Orders.Solution.API.dll
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/staticwebassets.build.json
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/staticwebassets/msbuild.build.Orders.Solution.API.props
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Orders.Solution.API.props
/Orders.Solution/Orders.Solution.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Orders.Solution.API.props
/Orders.Solution/Orders.Solution.API/obj/Orders.Solution.API.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.API/obj/Orders.Solution.API.csproj.nuget.g.props
/Orders.Solution/Orders.Solution.API/obj/Orders.Solution.API.csproj.nuget.g.targets
/Orders.Solution/Orders.Solution.API/obj/project.assets.json
/Orders.Solution/Orders.Solution.API/obj/project.nuget.cache
/Orders.Solution/Orders.Solution.Core/bin/Debug/net8.0/Orders.Solution.Core.runtimeconfig.json
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.AssemblyReference.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.csproj.BuildWithSkipAnalyzers
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.genruntimeconfig.cache
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.props
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.targets
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
/.gitignore
/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/026e1847-51a2-4e85-9c0b-e3a53b0e474c.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/2d9baad6-2b2e-46a8-8bdf-4c7d6e6a6c08.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/5905af60-a60d-4f07-842b-31f11b4a4536.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/78632695-6039-4add-84b9-305af707951a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9d79417b-e4cf-4bb3-a210-d16fe2b24cc1.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.props
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.targets
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
/.gitignore
/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/0f484915-ea64-4ecf-9bd6-7d348a120fd5.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/38798576-81c1-4e99-879d-65b3c0e0754d.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/d8185000-0c54-4022-a985-941788fe18f8.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/feb858b9-76dc-4af8-b286-392f92cadf1c.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.props
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.targets
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
/Orders.Solution/.vs/Orders.Solution/DesignTimeBuild/.dtbcache.v2
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/1c38d9fb-2794-4e30-95d8-94725e8f6bc6.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/48cc6092-0ed0-4724-90b1-899f2a28eff0.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/6660c194-0d34-467d-8a27-ea034041ace5.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/94130a59-26a1-4021-8adf-9f7dbe3ad47d.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.suo
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfo.cs
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.AssemblyInfoInputs.cache
/Orders.Solution/Orders.Solution.Core/obj/Debug/net8.0/Orders.Solution.Core.GeneratedMSBuildEditorConfig.editorconfig
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.dgspec.json
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.props
/Orders.Solution/Orders.Solution.Core/obj/Orders.Solution.Core.csproj.nuget.g.targets
/Orders.Solution/Orders.Solution.Core/obj/project.assets.json
/Orders.Solution/Orders.Solution.Core/obj/project.nuget.cache
/.gitignore
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/13272fbe-eebb-432f-b04c-628316b983ed.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/83219c55-553c-43fa-b3c4-044dc7389761.vsidx
/Orders.Solution/.vs/Orders.Solution/v17/.futdcache.v2
/Orders.Solution/.vs/ProjectEvaluation/orders.solution.metadata.v7.bin
/Orders.Solution/.vs/ProjectEvaluation/orders.solution.projects.v7.bin
/.gitignore
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/0a99ea33-0209-468d-9a50-a16a328db66f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/4c224b5a-68f1-44c0-a74f-aeadcd80eade.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/9fc15768-5890-4895-a264-d80ce10d3f36.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a04afe58-b6e8-48ae-a628-ee23b8bd8e72.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/d99d4c87-52a4-4f40-92eb-c679467a94f1.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/314d1759-dcc2-4930-8427-5fcc69667058.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/8e6bd743-fb62-47f5-98bf-ec6c5199e30e.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/804cce0f-9b6b-4ab4-99b7-fa962a1a2d6b.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/acec4374-3614-4d33-84ff-8aac70d9dfd0.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/40775ec4-4651-491d-826c-2f533bcef972.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/55e8d9a1-5b2d-4984-bd43-82fc6c4a45b1.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/58baef42-f7a2-451e-8c55-f0700ddd9ea2.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/5fff53dd-5da7-47a3-858b-709ee41d0505.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/6039caab-2b12-4b73-93e2-8344eeb3852f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/288bb2cc-cf44-4c66-b8dc-6e7c732ba85d.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/a1de46a1-228e-46e5-9306-9642afe53b3f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/ee7dcd0f-f146-4443-b7ea-bbc7ef1359bb.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/ae2444e8-5407-44b5-83ce-25d6eebc3b99.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/c0da3f9b-0c85-41fd-b06d-ce64b9865e40.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/53df0db2-8458-4bd1-b023-6991b19a868f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/991674c1-17d7-47da-9bb1-76c6234bb6bb.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/428abe73-3833-463d-b7f9-35f48fb08435.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/45ab57da-6b90-4157-ae67-ce73b5823841.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/1d0e138d-4a8f-4148-baa2-fc769f13f0b9.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/1d16689b-4abf-47c0-b783-5eadb9abad44.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/51efc66c-deb4-4040-a16d-33fc17d0aa71.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/def6479e-00e2-490b-b118-6d65f817762c.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/47e274ad-ef6c-4ec8-b2a1-4f10b67cbe3a.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/8b9019b6-989a-496d-a2b9-3d59b59a62bf.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/e5552c01-1d2a-4025-851d-7d6522cf6d0d.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/f613be43-05e7-477e-907a-b402e616e07f.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/150272be-1467-426a-9862-88061fe96297.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/95948995-39cd-42a0-ab94-1f89768f5dc9.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/e9402403-0337-4b23-bb97-d081062809bc.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/eadd61a0-c645-4afb-bf19-5ce022026192.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/87ae9bc8-78a5-4a2b-a36b-e702af8187d5.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/d0f20f85-4cbd-45f1-be83-837604d29f80.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/6765e31d-fc53-4c3b-8247-ae72f2d99bfc.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/3d9c3cd0-c206-4138-8707-469cef450028.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/aca0372c-0783-4384-96dd-5fe7cc032162.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/e90e986a-8f02-4304-ba6f-bfceaed64aa2.vsidx
/Orders.Solution/.vs/Orders.Solution/FileContentIndex/63412157-c4c7-4e25-9b5b-da57722b1821.vsidx
