<div class="matrix-info">
    <h2>Order administration</h2>
    <p>
      In this page you can see diferent Products and its Categories, in addition, you can do different things here 
    </p>
    <div class="separator"></div>
    <div>
      <p>In the upper side you will find a Select control:</p>
      <p>1 - Seleccione la opción Entrada para ingresar información de matrices</p> 
      <p>2 - Los datos de muestra cargados no tienen información sobre la matriz resultante</p>
    </div>
</div>
  